.App {
    text-align: center;
    height: auto; 
    /* background: linear-gradient(180deg, #111149 0.5%, #7474BF 34.5%, #348AC7 67%, #68C6DE 98.5%);  */
    min-height: 100vh; 
}

html {
    height: 100vh; 
    scroll-behavior: smooth;
}

body {
    height: 100%; 
    margin: 0; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-image: var(--super-space, linear-gradient(180deg, #111149 0.5%, #7474BF 34.5%, #348AC7 67%, #68C6DE 98.5%)); 
}

